<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Upbook</title>
        <base href="/" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
    </head>
    <body>
        <app-root></app-root>
        <script src="static/upbook/runtime.js" defer></script>
        <script src="static/upbook/polyfills.js" defer></script>
        <script src="static/upbook/styles.js" defer></script>
        <script src="static/upbook/vendor.js" defer></script>
        <script src="static/upbook/main.js" defer></script>
    </body>
</html>
